In [1]:
import pyforest as pf

**Question:1**

In [2]:
df=pd.read_csv("pima-indians-diabetes.csv")

In [3]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
df.size #

6912

In [5]:
df.describe

<bound method NDFrame.describe of      Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Class
0                       0.627   50      1
1                       0.351   31      0
2                       0.672   32      1
3                       0.167   21      0
4                       2.288   33      1
..                        ...  ...    ...
763                     0.171   63      0
764                     0.340   27      0
765                     0.245   30      0
766                     0.349   47      1
767                     0.315   23      0

[768 rows x 9 columns]>

In [6]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Class                       0
dtype: int64

In [7]:
scaler = MinMaxScaler(feature_range=(0, 1))
rescaled_data = scaler.fit_transform(df)

In [8]:
rescaled_df = pd.DataFrame(rescaled_data)
print("(a) Rescaled Data:")
rescaled_df.head()

(a) Rescaled Data:

,0,1,2,3,4,5,6,7,8
0,0.352941,0.743719,0.590164,0.353535,0.000000,0.500745,0.234415,0.483333,1.0
1,0.058824,0.427136,0.540984,0.292929,0.000000,0.396423,0.116567,0.166667,0.0
2,0.470588,0.919598,0.524590,0.000000,0.000000,0.347243,0.253629,0.183333,1.0
3,0.058824,0.447236,0.540984,0.232323,0.111111,0.418778,0.038002,0.000000,0.0
4,0.000000,0.688442,0.327869,0.353535,0.198582,0.642325,0.943638,0.200000,1.0

In [9]:
from sklearn.preprocessing import Binarizer

In [10]:
binarizer = Binarizer(threshold=0.0)
binary_data = binarizer.transform(df)

# Display binarized data
binary_df = pd.DataFrame(binary_data)
print("\n(b) Binarized Data:")
binary_df.head()

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\base.py:457: UserWarning: X has feature names, but Binarizer was fitted without feature names
  warnings.warn(

(b) Binarized Data:

     0    1    2    3    4    5    6    7    8
0  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0  0.0  1.0  1.0  1.0  0.0
2  1.0  1.0  1.0  0.0  0.0  1.0  1.0  1.0  1.0
3  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0
4  0.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0  1.0

In [11]:
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)

In [12]:
print("\n(c) Standardized Data:")
print(standardized_data.round(3))

(c) Standardized Data:
[[ 0.64   0.848  0.15  ...  0.468  1.426  1.366]
 [-0.845 -1.123 -0.161 ... -0.365 -0.191 -0.732]
 [ 1.234  1.944 -0.264 ...  0.604 -0.106  1.366]
 ...
 [ 0.343  0.003  0.15  ... -0.685 -0.276 -0.732]
 [-0.845  0.16  -0.471 ... -0.371  1.171  1.366]
 [-0.845 -0.873  0.046 ... -0.474 -0.871 -0.732]]

**Question:2**

In [13]:
df1=pd.read_csv("DataProcessing.csv")

In [14]:
df1.head()

   Region   Age   Income Online Shopper
0   India  49.0  86400.0             No
1  Brazil  32.0  57600.0            Yes
2     USA  35.0  64800.0             No
3  Brazil  43.0  73200.0             No
4     USA  45.0      NaN            Yes

In [15]:
df1.columns

Index(['Region', 'Age', 'Income', 'Online Shopper'], dtype='object')

In [16]:
X = df1[['Age', 'Income']]
Y = df1['Online Shopper']

In [17]:
X

    Age   Income
0  49.0  86400.0
1  32.0  57600.0
2  35.0  64800.0
3  43.0  73200.0
4  45.0      NaN
5  40.0  69600.0
6   NaN  62400.0
7  53.0  94800.0
8  55.0  99600.0
9  42.0  80400.0

In [18]:
Y

0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Online Shopper, dtype: object

In [19]:
imputer = SimpleImputer(strategy='mean')
X_imputed = pd.DataFrame(imputer.fit_transform(X))
print("(a) Imputed Data:")
df1[['Age', 'Income']]=X_imputed
df1.head()

(a) Imputed Data:

   Region   Age        Income Online Shopper
0   India  49.0  86400.000000             No
1  Brazil  32.0  57600.000000            Yes
2     USA  35.0  64800.000000             No
3  Brazil  43.0  73200.000000             No
4     USA  45.0  76533.333333            Yes

In [20]:
df2=df1

In [21]:
label_encoder = LabelEncoder()
df2['Region'] = label_encoder.fit_transform(df2['Region'])
df2['Online Shopper'] = label_encoder.fit_transform(df2['Online Shopper'])

In [22]:
df2.head()

   Region   Age        Income  Online Shopper
0       1  49.0  86400.000000               0
1       0  32.0  57600.000000               1
2       2  35.0  64800.000000               0
3       0  43.0  73200.000000               0
4       2  45.0  76533.333333               1

In [23]:
scaler = StandardScaler()
df2 = scaler.fit_transform(df2)

In [24]:
df2.round(2)

array([[ 0.  ,  0.76,  0.75, -1.  ],
       [-1.29, -1.71, -1.44,  1.  ],
       [ 1.29, -1.28, -0.89, -1.  ],
       [-1.29, -0.11, -0.25, -1.  ],
       [ 1.29,  0.18,  0.  ,  1.  ],
       [ 0.  , -0.55, -0.53,  1.  ],
       [-1.29,  0.  , -1.07, -1.  ],
       [ 0.  ,  1.34,  1.39,  1.  ],
       [ 1.29,  1.63,  1.75, -1.  ],
       [ 0.  , -0.26,  0.29,  1.  ]])

**Question:3**

In [25]:
df3 = pd.read_csv("Employee_list (2).csv")

In [34]:
df3.head()

   Sno.        Name  Age Profession   Salary  Empid
0     1  Rahul [dr]   38   Engineer  86567.0     15
1     2       Vipul   29     Doctor  77298.0      9
2     3      Saurav   33     Doctor  81302.0     11
3     4       Niyaz   39    Teacher  30456.0      6
5     6      Niroja   34   Engineer  79000.0     12

In [27]:
df4 = df3.copy()

In [28]:
df4["Salary"].fillna(df4["Salary"].mean(),inplace =True)

In [32]:
df4.head()

   Sno.        Name  Age Profession        Salary  Empid
0     1  Rahul [dr]   38   Engineer  86567.000000     15
1     2       Vipul   29     Doctor  77298.000000      9
2     3      Saurav   33     Doctor  81302.000000     11
3     4       Niyaz   39    Teacher  30456.000000      6
4     5    Franklin   28   Engineer  67553.142857     21

In [30]:
df3 = df3.dropna(subset=["Salary"])

In [33]:
df3.head()

   Sno.        Name  Age Profession   Salary  Empid
0     1  Rahul [dr]   38   Engineer  86567.0     15
1     2       Vipul   29     Doctor  77298.0      9
2     3      Saurav   33     Doctor  81302.0     11
3     4       Niyaz   39    Teacher  30456.0      6
5     6      Niroja   34   Engineer  79000.0     12